---
apiVersion: v1
kind: Namespace
metadata:
  name: cert-manager
  annotations:
    linkerd.io/inject: enabled

---
apiVersion: cert-manager.io/v1
kind: ClusterIssuer
metadata:
  name: letsencrypt
spec:
  acme:
    server: https://acme-v02.api.letsencrypt.org/directory
    privateKeySecretRef:
      name: tls-prod
    solvers:
    - http01:
       ingress:
         class: traefik

---
apiVersion: cert-manager.io/v1
kind: ClusterIssuer
metadata:
  name: letsencrypt-staging
spec:
  acme:
    server: https://acme-staging-v02.api.letsencrypt.org/directory
    privateKeySecretRef:
      name: tls-staging
    solvers:
    - http01:
       ingress:
         class: traefik
