---
apiVersion: cert-manager.io/v1
kind: Certificate
metadata:
  name: prometheus-tls
  namespace: monitoring
spec:
  secretName: prometheus-tls
  privateKey:
    rotationPolicy: Always 
  dnsNames:
    - prometheus.claytonc.dev
  issuerRef:
    name: letsencrypt
    kind: ClusterIssuer
    group: cert-manager.io

---
apiVersion: traefik.containo.us/v1alpha1
kind: IngressRoute
metadata:
  name: prometheus
  namespace: monitoring
spec:
  entryPoints:
    - web
    - websecure
  routes:
    - match: Host(`prometheus.claytonc.dev`)
      kind: Rule
      services:
      - name: prometheus-server
        port: 80
  tls:
    secretName: prometheus-tls
