---
apiVersion: v1
kind: Namespace
metadata:
  name: argocd
  annotations:
    linkerd.io/inject: enabled

---
apiVersion: cert-manager.io/v1
kind: Certificate
metadata:
  name: argocd-tls
  namespace: argocd
spec:
  secretName: argocd-tls
  privateKey:
    rotationPolicy: Always 
  dnsNames:
    - argocd.claytonc.dev
  issuerRef:
    name: letsencrypt
    kind: ClusterIssuer
    group: cert-manager.io

---
apiVersion: traefik.containo.us/v1alpha1
kind: IngressRoute
metadata:
  name: argocd
  namespace: argocd
spec:
  entryPoints:
    - web
    - websecure
  routes:
    - match: Host(`argocd.claytonc.dev`)
      kind: Rule
      middlewares:
        - name: traefik-local-whitelist@kubernetescrd
      services:
      - name: argocd-server
        port: 443
        scheme: https
        serversTransport: insecure-skip-verify
  tls:
    secretName: argocd-tls

---
apiVersion: traefik.containo.us/v1alpha1
kind: ServersTransport
metadata:
  name: insecure-skip-verify
  namespace: argocd
spec:
  insecureSkipVerify: true
